client {
  position: absolute;
}

.map {
  position:absolute;
  top: 30px;
}

.rotate {
  -webkit-transform: rotate(0deg);
  transform:  rotate(0deg);
  animation-name:rotation;
  animation-delay:0s;
  animation-duration:1.5s;
  animation-iteration-count:1;
  animation-fill-mode:forwards;
}

//@-webkit-keyframes rotation {
//  0%      { -webkit-transform: rotate(0deg); }
//  100%     { -webkit-transform: rotate(-90deg); }
//  //100%    { -webkit-transform: rotate(-360deg); }
//}

//@keyframes rotation {
//  0%      { transform: rotate(0deg); }
//  100%     { transform: rotate(-90deg); }
//  //100%    { transform: rotate(-360deg); }
//}


compass {
  position: relative;
  width: 200px;
  height: 200px;
  text-align: center;
}

.compass__rose {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.compass__rose__dial {
  height: 100%;
  width: 100%;
}

.compass__pointer {
  left:200px;
  top:100px;
  position: absolute;
  width:200px;
  height: 200px;
}
