<div>
  <select (click)="onClick($event)">
    <option>Earth</option>
    <option>Entrance</option>
    <option>Jupiter</option>
    <option>Kitchen</option>
    <option>Men’s</option>
    <option>Pluto</option>
    <option>Pool Room</option>
    <option>Saturn</option>
    <option>Uranus</option>
    <option>Venus</option>
    <option>Womens</option>
  </select>
</div>
<img #map src="./assets/idc_map.png" (load)="onMapLoaded($event)" class="map"/>
<client [show]="navigate" *ngIf="navigate" [ngStyle]="{'top': clientPosition?.x+'px'}"></client>
<img src="./assets/idc_route.png" *ngIf="navigate" (load)="onMapLoaded($event)" class="map"/>
